* 		{ font-family: Tahoma }
body 	{ margin: 5em 10em 5em 10em }
p 		{ text-align: justify }
h1		{color: yellow !important}

li { list-style-type: square }

#cena {color:red; font-weight: bold;}

.wstep {font-style: italic;}

td img {border-style: solid; border-color: blue;}

td img:hover {border-color: red}

h1 + h2 {letter-spacing: 5px;}

[colspan*="2"] > p {font-size: small}

p + p {color: gray;}

body {background-image: url(siekiera.jpg); background-repeat: repeat-y;}

h1 {color: blue;}
